{{ 'style.collection-filter.css' | asset_url | stylesheet_tag }}

<div class="filters">
  <h3 class="filter__title">Filters</h3>

  <form class="filter__form">
    {% for filter in collection.filters %}
      <details class="filter__details">
        <summary class="filter__summary">
          <div class="filter__div">
            <span class="filter__span">{{ filter.label }}</span>

            {% if filter.active_values.size > 0 %}
              <span class="filter__active">({{ filter.active_values.size }})</span>
            {% endif %}
          </div>
          <span class="filter__openClose">
            {% render 'icon-arrow-right' %}
          </span>
        </summary>

        <div class="filter__wrapper">
          <div class="filter__div--wrapper">
            <span class="filter__selected">{{ filter.active_values.size }} selected
            </span>

            {% if filter.active_values.size > 0 %}
              <a class="filter__link" href="{{ filter.url_to_remove }}">Reset</a>
            {% endif %}
          </div>

          <script>
            console.log({{ filter.param_name | json }});
          </script>

          {% case filter.type %}
            {% when 'boolean' or 'list' %}
            <ul class="filter__list">
              {% for filter_value in filter.values %}
                <li class="filter__item">
                  <label class="filter__label" for="Filter-{{ filter.param_name }}-{{ forloop.index }}">
                    <input
                      type="checkbox"
                      onclick="this.form.submit()"
                      name="{{ filter_value.param_name }}"
                      value="{{ filter_value.value }}"
                      id="Filter-{{ filter.param_name }}-{{ forloop.index }}"
                      {% if filter_value.active %}checked{% endif %}
                      {% if filter_value.count == 0 and filter_value.active == false %}disabled{% endif %}>{{ filter_value.label }}</label>
                </li>
              {% endfor %}
            </ul>

            <div class="filter__input--wrapper">
              <input
                class="filter__input"
                type="submit"
                value="Apply">
            </div>
            {% when 'price_range' %}
            <div>
              <div>
                <span class="filter__symbol">{{ cart.currency.symbol }}</span>

                <input
                  type="number"
                  name="{{ filter.min_value.param_name }}"
                  id="Filter-{{ filter.min_value.param_name }}"
                  {% if filter.min_value.value %}value="{{ filter.min_value.value | money_without_currency | replace: ',', '' }}"{% endif %}type="number"placeholder="0"min="0"max="{{ filter.range_max | money_without_currency | replace: ',', '' }}">
                <label for="Filter-{{ filter.min_value.param_name }}">From</label>
              </div>
              <div>
                <span>{{ cart.currency.symbol }}</span>

                <input
                  type="number"
                  name="{{ filter.max_value.param_name }}"
                  id="Filter-{{ filter.max_value.param_name }}"
                  {% if filter.max_value.value %}value="{{ filter.max_value.value | money_without_currency | replace: ',', '' }}"{% endif %}type="number"placeholder="{{ filter.range_max | money_without_currency | replace: ',', '' }}"min="0"max="{{ filter.range_max | money_without_currency | replace: ',', '' }}">
                <label for="Filter-{{ filter.max_value.param_name }}">To</label>
              </div>
              <div class="filter__input--wrapper">
                <input type="submit" value="Apply">
              </div>
            </div>
          {% endcase %}
        </div>
      </details>
    {% endfor %}

    <!-- <div class="active-filters">
    <a href="{{ collection.url }}?sort_by={{ collection.sort_by }}" class="active-filters__clear">Clear all</a>

    {%- for filter in collection.filters -%}
    {%- if filter.type == "price_range" -%}
    {%- if filter.min_value.value != nil or filter.max_value.value != nil -%}
    <a class="active-filters__remove-filter" href="{{ filter.url_to_remove }}">
    {%- assign min_value = filter.min_value.value | default: 0 -%}
    {%- assign max_value = filter.max_value.value | default: filter.range_max -%}
    {{ min_value | money }} - {{ max_value | money }} X
    </a>
    {%- endif -%}
    {%- else -%}
    {%- for filter_value in filter.active_values -%}
    <a class="active-filters__remove-filter" href="{{ filter_value.url_to_remove }}">
    {{ filter.label }}: {{ filter_value.label }} X
    </a>
    {%- endfor -%}
    {%- endif- %}
    {%- endfor -%}
    </div> -->
  </form>
</div>


<script>
  const details = document.querySelector('.filter__details');
  const summary = document.querySelector('.filter__summary');
  const filterBtn = document.querySelector('.filter__openClose');

  details.addEventListener('toggle', (e) => {

// console.log(e);
    if (details.open) {
      filterBtn.style.transform = `rotate(90deg)`;
    } else {
      filterBtn.style.transform = `rotate(0)`;
    }
  })
</script>